@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

.hiddenscrollbar > div {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hiddenscrollbar > div::-webkit-scrollbar {
  display: none;
}

.bg-zoom {
  background-size: 100%;
  transition-property: background-size;
}

.bg-zoom:hover {
  background-size: 110%;
}

.bg-pulse {
  animation: pulse 25s linear 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}