/* fix background color */
.post-full-content {
  @apply bg-transparent;
  @apply p-0;
  font-family: 'Sorts Mill Goudy', serif;
}

/* fix weird hr */
.post-full-content hr::after {
  @apply hidden;
}

/* fix sizes and fonts sizes */
.post-full-content h2 {
  font-family: 'Sorts Mill Goudy', serif;
  @apply mb-10;
  @apply text-3xl;
}

.post-full-content h3 {
  font-family: 'Sorts Mill Goudy', serif;
  @apply mb-7;
  @apply text-2xl;
}

.post-full-content p {
  @apply text-justify;
  @apply my-4;
  @apply text-lg;
  @apply min-w-0;
  max-width: 550px;
}

.post-full-content a {
  @apply text-blue-600;
}

.post-full-content a:hover {
  @apply text-blue-600;
  @apply underline;
}

.post-full-content blockquote {
  @apply mb-0;
  @apply text-lg;
}

.post-full-content figure {
  max-width: fit-content;
  @apply m-0;
  @apply border;
  @apply border-gray-300;
  @apply rounded-sm;
  @apply bg-white;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-start;
}

.post-full-content figure figcaption {
  @apply text-base;
  @apply m-1;
}

.post-full-content figure img {
  @apply h-full;
  @apply object-contain;
  @apply m-0;
}

.post-full-content figure iframe {
  @apply h-full;
  @apply w-auto;
  @apply m-0 !important;
}

@media (min-width: 768px) {
  .post-full-content figure iframe {
  @apply w-full;
  @apply h-auto;
  }
}

.post-full-content iframe {
  @apply m-0 !important;
}

.textOnly figure {
  display: none;
}

.textOnly p {
  text-align: justify;
  margin-bottom: 10px;
  max-width: 630px;
}
